# Python bytecode files
*.pyc
__pycache__/

# AppDaemon data folder (si tu stockes fichiers locaux ici)
data/

# Virtual environment folders (common names)
venv/
.env/
.env.local/
.envrc

# macOS metadata files
.DS_Store

# Logs
*.log

# IDE/editor config files (optional, adapte selon ton outil)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
